// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary: #609AA9;

$color-secondary: #9F653B;

$text-white: #FFF;

$text-black: #000;

$text-gray: #4F4F4F;

$bg-dark: #1B2021;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;