// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

<<<<<<< HEAD
$color-primary: #0556CD;
=======
$color-primary: #0556f3;
>>>>>>> 410159fb589a59502e529867c926704840861650
/*$color-primary: #000033;*/

$white: #FFF;

$text-black: #000;

$text-gray: #4F4F4F;

$bg-dark: #0556f6;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;