// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
html{
	font-size: 62.5%;
}
.nav{
	display: flex;
	align-items: center;
	padding: 0 5.3rem 0 8rem;
	justify-content: flex-end;
	border-bottom: 1px solid #000;

	&:first-child{
		justify-content: flex-start;
	};

	&__logo{
		height: 10rem;
		width: 12.7rem;
	}
	&__search{
		display: flex;
		line-height: 2.56rem;
	  	align-items: center;
	  	margin-left: auto;
	}
}

.form-control{
	height: 5.6rem;
	width: 37.7rem;
	border: 1px solid #000;
	padding: 1rem;
    font-size: 1.5rem;
}

.card{
	padding: 1rem;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.8);

	h4{
		font-size: 2.5rem;
	}
	h5{
		font-size: 2rem;
	}
	p{
		line-height: 2rem;
		font-size: 1.3rem;
	}
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 0 5rem;

  .col-4 {
 	width: 23%;
  	margin: 1rem;
   }
}

.footer{
	display: flex;
	justify-content: center;
}

.btn{
	color: $text-white;
	padding: 1rem 7rem;
	font-size: 1rem;
	border: none;
	background-color: $bg-dark;
	cursor: pointer;
	margin: 2rem;

}

@media (max-width: 600px) {
  .row {
    display: block;
    padding: 0 2rem;
    .col-4 {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }

  .nav{
  	padding: 0 2rem 0 0;

  	&__logo{
  		display: none;
  	}
  	&__search{
  		width: 100%;
  		margin: 1rem;
  	}
  }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.row{
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: flex-start;
  	.col-4 {
      width: 48%;
      margin: 0 1rem 1rem 0;
    }
}
}